<a href="https://colab.research.google.com/github/Bhanudevi/practice-/blob/main/Exercisepython.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

 Running instructions in interactive interpreter and python script

In [ ]:
2+3

5

In [ ]:
print("Hello world")

Hello world

In [ ]:
C="Python lab programming"
print(C)

Python lab programming

In [ ]:
Lst=["Bhanu","19A21A0580",15]
print(Lst)

['Bhanu', '19A21A0580', 15]

In [ ]:
c=10
print(type(c))

<class 'int'>

In [ ]:
a=51
b=23
print(a+b,a-b,a*c,a/b,a%b,a//b,sep="   ")

74   28   510   2.217391304347826   5   2

 
Exercise 1b
 Write a program to raise purposefully an indentation error and correct it.

In [ ]:
 if 2>1:
print("Hii")

IndentationError: ignored

In [ ]:
if 2>1:
  print("true")

true

In [ ]:
 x=2
y=3
if x+y:
  print(x+y)
  else:
  print("happy hours")

SyntaxError: ignored

Exercise2a:
Write a program to find distance between two points...

In [ ]:
 x1=int(input("Enter x coordinate of point1:"))
y1=int(input("Enter y coordinate of point1:"))
x2=int(input("Enter y coordinate of point2:"))
y2=int(input("Enter y coordinate of point2:"))
d=(x2-x1)**2 +(y2-y1)**2
d=d**(1/2)
print(d)

Enter x coordinate of point1:2
Enter y coordinate of point1:2
Enter y coordinate of point2:0
Enter y coordinate of point2:0
2.8284271247461903

Exercise 2b
Command line arguments

In [ ]:
 import sys
a=int(sys.argv[1])
b=int(sys.argv[2])
sum=a+b
print("Sum of two numbers :",sum)

ValueError: ignored

Exercise3a
To check whether  the given number is even or odd

In [ ]:
 n=int(input("Enter a number:"))
if (n%2==0):
  print(n,"is an even number")
else:
  print(n,"is an odd number")

Enter a number:6
6 is an even number

3b
Using for loop write a program to print 1/2,1/3,..,1/10..

In [ ]:
for I in range(2,10):
  print(1/I)

0.5
0.3333333333333333
0.25
0.2
0.16666666666666666
0.14285714285714285
0.125
0.1111111111111111

3c
 Sequences are one of the principal built-in data types besides numerics, mappings, files, instances and exceptions. Python provides for six sequence (or sequential) data types:strings,byte sequences,byte arrays,lists,tuples,range objects The items or elements of strings, lists and tuples are ordered in a defined sequence The elements can be accessed via indices

In [ ]:
Lst=[]
n=int(input("Enter limit:"))
print("Enter elements:")
for i in range(n):
  a=int(input())
  Lst.append(a)
print(Lst)

Enter limit:3
Enter elements:
1
2
3
[1, 2, 3]

 Exercise 3d
Write a program using while loop that asks user a limit and print countdown.

In [ ]:
 
n=int(input("Enter the number to start countdown:"))
while n>=0:
  print(n)
  n-=1

Enter the number to start countdown:6
6
5
4
3
2
1
0

4a
To find sum of all prime numbers 2000000

In [ ]:
 sum=0
for i in range(1,2000):
  count=0
  for j in range(1,i):
    if i%j==0:
      count+=1
  if count==1:
    sum+=i
print("Sum of all prime numbers is",sum)

Sum of all prime numbers is 277050

We take 2000000 in the place of 2000

4b
Fibonacci  series

In [ ]:
 
a=1
b=2
c=0
sum=0
while c<3000000:
  c=a+b
  a=b
  b=c
  if c%2==0:
    sum+=c
print()
print("Sum of even numbers in fibonacci series\n below 4 million is",sum+2)

Sum of even numbers in fibonacci series
 below 4 million is 4613732