<a href="https://colab.research.google.com/github/Bhanudevi/practice-/blob/main/Exercisepython.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1a
 Running instructions in interactive interpreter and python script

In [ ]:
2+3

5

In [ ]:
print("Hello world")

Hello world

In [ ]:
C="Python lab programming"
print(C)

Python lab programming

In [ ]:
Lst=["Bhanu","19A21A0580",15]
print(Lst)

['Bhanu', '19A21A0580', 15]

In [ ]:
c=10
print(type(c))

<class 'int'>

In [ ]:
a=51
b=23
print(a+b,a-b,a*c,a/b,a%b,a//b,sep="   ")

74   28   510   2.217391304347826   5   2

 
Exercise 1b
 Write a program to raise purposefully an indentation error and correct it.

In [ ]:
 if 2>1:
print("Hii")

IndentationError: ignored

In [ ]:
if 2>1:
  print("true")

true

In [ ]:
 x=2
y=3
if x+y:
  print(x+y)
  else:
  print("happy hours")

SyntaxError: ignored

Exercise2a:
Write a program to find distance between two points...

In [ ]:
 x1=int(input("Enter x coordinate of point1:"))
y1=int(input("Enter y coordinate of point1:"))
x2=int(input("Enter y coordinate of point2:"))
y2=int(input("Enter y coordinate of point2:"))
d=(x2-x1)**2 +(y2-y1)**2
d=d**(1/2)
print(d)

Enter x coordinate of point1:2
Enter y coordinate of point1:2
Enter y coordinate of point2:0
Enter y coordinate of point2:0
2.8284271247461903

2b
Wrire a program add.py that takes two Command  line arguments and prints its sum....

In [ ]:
 import sys
a=int(sys.argv[1])
b=int(sys.argv[2])
sum=a+b
print("Sum of two numbers :",sum)

ValueError: ignored

Exercise3a

To check whether  the given number is even or odd

In [ ]:
 n=int(input("Enter a number:"))
if (n%2==0):
  print(n,"is an even number")
else:
  print(n,"is an odd number")

Enter a number:6
6 is an even number

3b
Using for loop write a program to print 1/2,1/3,..,1/10..

In [ ]:
for I in range(2,10):
  print(1/I)

0.5
0.3333333333333333
0.25
0.2
0.16666666666666666
0.14285714285714285
0.125
0.1111111111111111

3c
Write a program using a for loop that loops over a sequence.  What is a sequence....

 Sequences are one of the principal built-in data types besides numerics, mappings, files, instances and exceptions. Python provides for six sequence (or sequential) data types:strings,byte sequences,byte arrays,lists,tuples,range objects The items or elements of strings, lists and tuples are ordered in a defined sequence The elements can be accessed via indices

In [ ]:
Lst=[]
n=int(input("Enter limit:"))
print("Enter elements:")
for i in range(n):
  a=int(input())
  Lst.append(a)
print(Lst)

Enter limit:3
Enter elements:
1
2
3
[1, 2, 3]

 3d

Write a program using while loop that asks user a limit and print countdown.

In [ ]:
 
n=int(input("Enter the number to start countdown:"))
while n>=0:
  print(n)
  n-=1

Enter the number to start countdown:6
6
5
4
3
2
1
0

4a
Find the sum of all prime numbers below 2000000

In [ ]:
 sum=0
for i in range(1,2000):
  count=0
  for j in range(1,i):
    if i%j==0:
      count+=1
  if count==1:
    sum+=i
print("Sum of all prime numbers is",sum)

Sum of all prime numbers is 277050

We take 2000000 in the place of 2000

4b
Each term in the Fibonacci  series is generatedby adding the previous two terms. By starting  with 1 and 2,the first terms will be 1,2,3,5,8,13,21,34,56,89

In [ ]:
 
a=1
b=2
c=0
n=3
print("Fibonacci series is ",a,"",b,end="")
while n<=10:
  c=a+b
  a=b
  b=c
  n+=1
  print(c,end=" ")

Fibonacci series is  1  23 5 8 13 21 34 55 89

4c 
Find the sum of even numbers in the above  fibonacci  sequence below 4000000..

In [ ]:
 a=1
b=2
c=0
sum=0
while c<3000000:
  c=a+b
  a=b
  b=c
  if c%2==0:    sum+=c
print("Sum of even numbers in a fibonacci series below 4000000 is",sum)

Sum of even numbers in a fibonacci series below 4000000 is 4613730

 10c
Write a program to compute Gcd and lcm of two numbers. Each function should not exceed one line.....

In [ ]:
 gcd=lambda a,b: a if b==0 else gcd(a,a%b)
lcm=lambda a,b: a*b/gcd(a,b)
x=int(input("Enter a number:"))
y=int(input("Enter another number:"))
print("GCD:",gcd(x,y))
print("LCM:",lcm(x,y))

Enter a number:4
Enter another number:24
GCD: 4
LCM: 24.0

10 b 
Write a function reverse to reverse a list,without using reverse function..

In [ ]:
 def reverse(lst):
  lst2=[]
  for j in lst:
    lst2.insert(0,j)
  lst=lst2
  return lst
n=int(input("Enter number of elements:"))
lst=[int(input()) for i in range(n)]
temp=[]
temp=reverse(lst)
print("Reverse of list is",temp)

Enter number of elements:5
1
2
3
4
5
Reverse of list is [5, 4, 3, 2, 1]

10a Write a cumulative function to find cumulative product in a list

In [ ]:
 
def cumulativefrequency(lst):
  product=1
  for i in lst:
    product*=i
    temp.append(product)
  return temp
n=int(input("Enter number of elements tobe in list:"))
lst=[int(input()) for i in range(n)]
temp=[]
temp=cumulativefrequency(lst)
print(temp)

Enter number of elements tobe in list:4
1
2
3
4
[1, 2, 6, 24]

9 b Write a dup function to find all duplicates in a list....

In [ ]:
 
#function to find duplicates 
def dup(lst):
  nums=[]
  for i in lst:
    count=lst.count(i)
    if count>1 and i not in nums:
      nums.append(i)
  print(nums)
n=int(input("Enter number of elements in a list:"))
lst=[int(input()) for i in range(n)]
print("list elements:",lst)
print("duplicate elements :",end="")
dup(lst)

Enter number of elements in a list:5
1
1
2
3
3
list elements: [1, 1, 2, 3, 3]
duplicate elements :[1, 3]

9c Write a function unique to find all unique elements in a list...

In [ ]:
 
def Unique(lst):
  for i in lst:
    count=lst.count(i)
    if count==1:
      print(i,end="  ")
n=int(input("Enter number of elements in a list:"))
lst=[int(input()) for i in range(n)]
print("list elements:",lst)
print("Unique elements :",end="")
Unique(lst)

Enter number of elements in a list:5
1
1
2
3
1
list elements: [1, 1, 2, 3, 1]
Unique elements :2  3

9a
Write a function nearly equalto test whether the two given strings are nearly equal or not. Two strings a and b are nearly equal when a can be generated  by a single mutation.....

In [ ]:
 
def nearly_eq(str1,str2):
  count=0
  i=j=0
  while(i<len(str1) and j<len(str2)):
   if (str1[i]!=str2[j]):
      count+=1
      if(len(str1)>len(str2)):
        i+=1
      elif(len(str1)-len(str2)):
         pass
      else:
         i-=1
   if(count>1):
         return False
         i+=1
         j+=1
   if(count<2):
      return True
s1=input("Enter String1: ")
s2=input("Enter String2: ")
bln=nearly_eq(s1,s2)
if(bln):
   print("Strings are nearly equal.")
else:
   print("String are NOT equal.")

Enter String1: Bhanu
Enter String2: Devi
Strings are nearly equal.

Exercise-8
a..Write a function  ball collide that takes two balls as parameters and computer if they are colliding. Your function should return a boolean value whether  the balls are colliding or not
Hint: Represent Ball on a plane as tuple(x,y,r) where r is a radius of ball..

In [ ]:
 
 
import math
def collide(ball_tup1,ball_tup2):
  x1,y1,r1=ball_tup1
  x2,y2,r2=ball_tup2
  print("ball-01: ",ball_tup1)
  print("ball-02: ",ball_tup2)
  d=math.sqrt((x2-x1)**2+(y2-y1)**2)
  print("centroid  distancee between two blls",d)
  print("sum of radius ball-01 and ball -02 is: {}+{}={}".format(r1,r2,r1+r2))
 
  if d<=r1+r2:
    return True
  else:
    return False
 
ball_tup1=(-2,-4,3)
ball_tup2=(4,6,3)
if collide(ball_tup1,ball_tup2):
    print("balls collides")
else:
    print("balls not collide")

ball-01:  (-2, -4, 3)
ball-02:  (4, 6, 3)
centroid  distancee between two blls 11.661903789690601
sum of radius ball-01 and ball -02 is: 3+3=6
balls not collide

8b.
Find the mean,median,mode in a list...

Exercise 6
a Write a program to combine lists

In [ ]:
 subj=["DAA","OS", "DBMS", " P&S", "PPL", " SE"]
marks=[85,96,78,68,98,56]
 
print("Given lists are:") 
print("Subjects names:",subj) 
print("Marks values:",marks) 
 
dic=dict(zip(subj, marks)) 
print("\n Dictionary:",dic)

Given lists are:
Subjects names: ['DAA', 'OS', 'DBMS', ' P&S', 'PPL', ' SE']
Marks values: [85, 96, 78, 68, 98, 56]

 Dictionary: {'DAA': 85, 'OS': 96, 'DBMS': 78, ' P&S': 68, 'PPL': 98, ' SE': 56}