<a href="https://colab.research.google.com/github/Bhanudevi/practice-/blob/main/Exercise3c.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

 Sequences are one of the principal built-in data types besides numerics, mappings, files, instances and exceptions. Python provides for six sequence (or sequential) data types:strings,byte sequences,byte arrays,lists,tuples,range objects
The items or elements of strings, lists and tuples are ordered in a defined sequence
The elements can be accessed via indices

In [ ]:
 
 
 
 
Lst=[]
n=int(input("Enter limit:"))
print("Enter elements:")
for i in range(n):
  a=int(input())
  Lst.append(a)
print(Lst)

Enter limit:5
Enter elements:
1
2
3
3
4
[1, 2, 3, 3, 4]

Above program is an example for list